Import necessary libraries, initialize a pandas dataframe with the fish_data, and observe the features and potential preprocessing paths

In [13]:
import pandas as pd
import matplotlib.pyplot as plt 
import numpy as np 
import seaborn as sns 
import sklearn

In [3]:
data = pd.read_csv("fish_data.csv")

In [4]:
data

,id,average_length(inches)),average_weight(inches)),habitat,ph_of_water,color,Gender,life_span
0,1,14.69,5.87,ponds,6.2,Reddish_Orange,False,10.9
1,2,1.32,3.86,idlewater,6.8,Calico,True,5.2
2,3,14.23,12.09,lakes,7.9,Reddish_Orange,True,25.3
3,4,2.54,3.20,rivers,6.7,White,False,16.4
4,5,13.10,9.81,lakes,7.8,Orange,True,3.2
...,...,...,...,...,...,...,...,...
1995,1996,16.12,6.46,ponds,8.0,Red_and_White_Bi_Color,NaN,6.4
1996,1997,7.50,7.07,rivers,6.3,Black_and_Orange,True,14.0
1997,1998,10.52,3.27,slowmovingwaters,6.1,Orange,True,13.1
1998,1999,7.70,15.41,ponds,7.8,Orange,False,15.6
1999,2000,11.55,11.61,idlewater,7.5,Red_and_Silver,False,13.6

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       2000 non-null   int64
 1   average_length(inches))  2000 non-null   float64
 2   average_weight(inches))  2000 non-null   float64
 3   habitat                  2000 non-null   object
 4   ph_of_water              2000 non-null   float64
 5   color                    2000 non-null   object
 6   Gender                   1976 non-null   object
 7   life_span                2000 non-null   float64
dtypes: float64(4), int64(1), object(3)
memory usage: 125.1+ KB

Notice the null values for the gender feature; I opted to just drop this data completely. We then create the training set and testing set. I use the convention of allocating 20% of our data to test set.

In [6]:
data = data.dropna()

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1976 entries, 0 to 1999
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       1976 non-null   int64
 1   average_length(inches))  1976 non-null   float64
 2   average_weight(inches))  1976 non-null   float64
 3   habitat                  1976 non-null   object
 4   ph_of_water              1976 non-null   float64
 5   color                    1976 non-null   object
 6   Gender                   1976 non-null   object
 7   life_span                1976 non-null   float64
dtypes: float64(4), int64(1), object(3)
memory usage: 138.9+ KB

In [14]:
from sklearn.model_selection import train_test_split

X = data.drop(['life_span'], axis = 1)
y = data["life_span"]

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2)

In [18]:
train_set = X_train.join(y_train)
train_set

,id,average_length(inches)),average_weight(inches)),habitat,ph_of_water,color,Gender,life_span
1169,1170,8.61,13.23,rivers,7.5,Red_and_White_Bi_Color,False,18.2
745,746,5.62,16.42,ponds,6.5,Red_and_Silver,False,2.4
499,500,17.10,16.93,slowmovingwaters,6.8,Reddish_Orange,True,16.5
1329,1330,19.89,17.16,idlewater,7.5,Red_and_White_Bi_Color,True,3.5
1241,1242,5.85,12.57,slowmovingwaters,8.0,White,True,23.1
...,...,...,...,...,...,...,...,...
711,712,18.62,4.82,ponds,6.9,White,True,12.1
365,366,15.54,2.04,ponds,7.7,Yellow,True,8.1
1857,1858,10.05,15.47,idlewater,6.7,Red_and_White_Bi_Color,False,13.7
765,766,5.48,6.77,idlewater,7.6,Reddish_Orange,False,12.7
129,130,9.28,2.99,rivers,6.3,Green_and_Chocolate,True,17.4